header {
    color: rebeccapurple; text-align: center; background-color: navajowhite;
}
h2 {
    color: blueviolet;
}
img {
    border: 5px double blueviolet; border-radius: 50%;
}
section {
text-align: justify; width: 600px; margin-left: 5cm; font-size: 150;
}